html,body {
	margin:0;
	padding:0
	}

a:hover {
	color: red;
	}

body {
	font: 13px/1.3 Verdana,Arial,sans-serif;
	text-align: center;
	background: #757D88;
	padding-bottom:20px
	}

div#header {
	width:100%;
	overflow:hidden;
	background: #595D66;
	}

div#header h1, #logo, div#menu {
	width:960px;
	margin:0 auto;
	text-align:left;
	}

#logo {
	text-align:left;
	}

#header h1, #header h1 a, #header h1 a:link, #header h1 a:visited {
	font-family: Georgia, Lucida, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	padding: 0;
	margin: 0;

}

#header h1 a:hover {
	color: red;
}

#header #menu ul, #header #menu li {
	list-style-type:none;
	margin:0;
	padding:0;
	}

#header #menu {
	margin-top:0;
	padding-top:0;
	}

#header #menu ul{
	float:right;
	font-size: 15px;
	margin-top:10px;
	}

#header #menu ul li{
	float:left;
	margin-left: 3px;
	text-align: center
	}

#header #menu ul a{
	float:left;
	width: 100px;
	padding: 5px 0;
	background: #369A3D;
	text-decoration:none;
	color: #FFC
	}

#header #menu ul a:hover{
	background: #CDFFA1;
	color: #006A35
	}

#slogan {
	float:left;
	width:240px;
	height:30px;
	color:#FFF;
	font-size:15px;
	padding:10px 0 0 10px;
	margin:0;
	}

#mission, h1.title{
	padding: 10px;
	margin: 0 10px 10px 0;
	background: #E65714;
	font-size: 15px;
	}

div#container{
	width:960px;
	margin:0 auto 10px;
	padding:20px 0 10px;
	text-align:left;
	background:#FFF;
	}

div#content_normal{
	float:left;
	display:inline;
	width:540px;
	margin:0 0 10px 10px;
	}

div#content_wide{
	float:left;
	display:inline;
	width:740px;
	margin:0 0 10px 10px;
	}

div#sidebar-left{
	float:left;
	display:inline;
	width: 170px;
	background:#F3CF00; 
	margin:0 10px 10px 10px;
	padding:5px 5px 0 10px;
	}

div#sidebar-left p{margin:5px 0 10px;padding: 0 10px}
div#sidebar-left .block{margin: 0 0 10px;padding: 0 0 20px 0;}

div#sidebar-right {
	float:right;
	display:inline;
	width: 170px;
	background: #eee; 
	margin:0 10px 10px 0;
	padding:5px 5px 0 10px;
	}

div#sidebar-right p{margin:5px 0 10px;padding: 0 10px}
div#sidebar-right .block {margin: 0 0 10px;padding: 0 0 20px 0}



div#footer{
	clear:both;
	width:940px;
	margin:0 10px 0;
	padding: 10px 0;
    background: #586695;
	color: #FFF;
	text-align:center
	}

.node {
	background:#fff; 
	margin:0 10px 10px 0;
}

.node .nodecontent {
	background: #eee;
	padding:20px;
	}

.node h2.title, .node h2.title a, .node h2.title a:link, .node h2.title a:visited {
	background: #C8C866;
	margin: 0;
	padding:10px;
	line-height:150%;
	text-decoration: none;
	font-size: 15px;
	}

.node h2.title a:hover {
	color: #fff;
	}

.block h2.title {
	margin: 0;
	padding:0px;
	line-height:150%;
	font-size: 15px;
	border-bottom:1px #ccc solid;
	}

#sidebar-right .block h2.title {
	border-bottom:1px #fff solid;
	}

.textarea {
	width:400px;
	}